.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgb(147, 182, 19);
  padding: 15px;
  font-size: 28px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

#student-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 200px;
}

#student-add {
  position: relative;
  top: 20px;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: 550;

}

.fields {
  position: relative;
  left: 50px;
  width: 78%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  gap: 60px;
  row-gap: 100px;
}



.inp1 {
  height: 40px;
  width: 520px;
  background: transparent;
  border: none;
  font-size: 20px;
}

.inp1:focus {
  background: white;
  border: none;
}
#student-table {
  position: relative;
  left: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.4fr;
  background-color: white;
  text-align: left;
  border-radius: 10px;
}


.fix-1 {
  padding: 15px;
text-align: center;
  height: 28px;
  border: 2px solid grey;
  font-size: 20px;
  width:"100vh"
}

#fix-2 {
position: relative;
color: rgb(146, 178, 17);
top: -20px;
}

legend {
  border-color: rgb(11, 198, 136);
}

.fix-3 {
  position: relative;
  top: 50px;
  left: 1000px;
}

.one {
  position: relative;
  left: -10px;
}

.two {
  position: relative;
  left: 200px;
}

.three {
  position: relative;
background: grey;
  left: -400px;
}

.four {
  position: relative;
  left: -250px;
  background: grey;

}

